<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom Title Bar</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }


    </style>

    <link rel="stylesheet" href="/static/fontawesome-free-6.6.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <script>
        function closeWindow() {
            fetch('/close_window', { method: 'POST' });
        }
        function minimizeWindow() {
            fetch('/minimize_window', { method: 'POST' });
        }
        function maximizeWindow() {
            fetch('/maximize_window', { method: 'POST' });
        }
    </script>
</head>
<body>

    <div id="title-bar">
        {% include 'header.html' %}
    </div>

    <div id="content">
        {% include 'nav.html' %}

        {% include 'content.html' %}
    </div>

</body>
</html>
