<aside class="menu">
    <p class="menu-label"></p>
    <ul class="menu-list">
        <li><a>角色列表</a></li>
    </ul>
    <div class="block"></div>

    <p class="menu-label"></p>
    <ul class="menu-list">
        <li><a>宝物列表</a></li>
    </ul>
    <div class="block"></div>

    <p class="menu-label"></p>
    <ul class="menu-list">
        <li><a>分析角色</a></li>
    </ul>
    <div class="block"></div>

    <p class="menu-label"></p>
    <ul class="menu-list">
        <li><a>我的</a></li>
    </ul>
    <div class="block"></div>

</aside>