<div>
    <div class="info">
        <div class="row row-hd clearfix">
            <div class="price">¥36,500</div><!---->
            <div class="tof"><span class="main-title">征服赛季</span><span class="sub-title">X3908 四序天象</span>
                <span class="product-item-tag"><i class="icon icon-preparation"></i><i class="icon icon-free-change-name"></i>
                    <</span></div><</div>
        <div class="row">
            <div class="collect pull-right">5.0万人收藏</div>
            <ul class="attrs tof">
                <li>3张五星武将卡</li>
                <li>2个战法</li>
                <li>1个宝物</li>
            </ul><!----></div>
        <ul class="complex-highlights">
            <li>
                <div class="txt"
                     style="background: rgb(252, 236, 233); color: rgb(237, 105, 87); border: 1px solid rgb(252, 236, 233);">
                    <i class="icon icon-lineup"></i>
                    阵容建议
                </div>
            </li>
            <li>
                <div class="highlight"><span>32个满红五星武将</span></div>
            </li>
            <li>
                <div class="highlight"><span>5个绝版武将</span></div>
            </li>
            <li>
<!--                <div class="highlight"><span>12个已锻造宝物</span></div>-->
                <div class="highlight"><span>个已锻造宝物</span></div>
            </li>
        </ul><!---->
        <div class="cards clearfix">
            <div class="wujiang-item card card-5">
<!--                <div class="wrap"><img src="https://cbg-stzb.res.netease.com/game_res/cards/cut/card_medium_100670.jpg"
                                       class="image">-->
                    <div class="bg bg5"></div>
                    <div class="state-wrap state5"><i class="ico">群</i></div>
                    <div class="best-wrap icon-ji-10"><i class="ico">极</i></div><!----><!---->
                    <div class="season-wrap season-XP"><i class="ico">XP</i></div>
                    <div class="stars"><span class="star up"><i class="ico"></i></span><span class="star up"><i
                            class="ico"></i></span><span class="star up"><i class="ico"></i></span><span
                            class="star up"><i class="ico"></i></span><span class="star"><i class="ico"></i></span>
                    </div>
                </div>
                <div class="name tC">
                    袁绍
                </div>
            </div>
        </div>
    </div>
</div>